/* login.css*/

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);
}

.login-card{
    width: 400px;
    margin: 0 auto;
    padding: 1rem;
    height: 100%;
    min-height: 400px;
    position: relative;
}

.submit-button {
    margin-top: 10px;
    cursor: pointer;
    width: 80%;
}

.text-margin {
  margin-bottom: 2rem;
}