/* navbar.css */

.custom-navbar {
    background-color: var(--accent-color) !important;
    height: 8vh;
    display: flex; /* Align content */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    padding: 0 1rem; 
}

.custom-navbar .btn:active,
.custom-navbar .btn:focus:active {
  background-color: var(--active-color) !important;
  color: var(--background-color) !important;
  border-color: var(--accent-color) !important;
}

/* Align NavBar buttons to be on the outer edges of the container */
.col:first-child {
    display: flex;
    justify-content: flex-start;
}

.col:last-child {
    display: flex;
    justify-content: flex-end;
}

/* Styling for buttons */
button.btn {
    padding: var(--button-padding);
    margin: var(--button-margin);
    background-color: var(--background-color);
    border-radius: var(--button-radius);
    border-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: var(--secondary-size);
    font-family: var(--primary-font);
}

button.btn:hover {
    background-color: var(--hover-color);
    border-color: var(--accent-color);
}

/* Styling for heading */
h1 {
    text-align: center;
    color: var(--accent-color);
    font-family: var(--primary-font);
    font-size: var(--title-size);
}